.askew-logo {
    height: 12em;
}

.askew-logo-and-header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.askew-title {
    font-size: 70px;
}

.askew-slogan {
    margin: 1rem;
    margin-bottom: 3rem;
}